@charset "utf-8";

/* 인증 현황 */
.certify_wrap {
  margin-top: 50px;
}
.certify_wrap .certify_date {
  overflow: hidden;
  padding: 30px 173px;
  border-top: 2px solid #333;
  border-bottom: 1px solid #e8e8e8;
}
.certify_wrap .certify_date .date_name {
  float: left;
  font-size: 22px;
  line-height: 44px;
}
.certify_wrap .certify_date .inp_date_box {
  float: left;
  margin-left: 30px;
}
.certify_wrap .certify_date .inp_date_box input {
  width: 300px;
}
.certify_wrap .certify_date .inp_date_box .hypon {
  width: 8px;
  margin: 0 8px;
}
.certify_wrap .certify_date .btn {
  float: left;
  width: 103px; height: 44px;
  margin-left: 10px;
  font-size: 14px; font-weight: 500;
  line-height: 44px;
}
.certify_wrap .certify_info {
  margin-top: 50px;
}
.certify_wrap .certify_info .title {
  font-size: 18px;
}
.certify_wrap .certify_info .certify_tab {
  overflow: hidden;
  margin-top: 11px;
}
.certify_wrap .certify_info .certify_tab > li {
  float: left;
  width: 25%; height: 59px;
  box-sizing: border-box;
  background: #f8f8f8;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
  border-bottom: 1px solid #000;
  line-height: 59px;
  text-align: center;
}
.certify_wrap .certify_info .certify_tab > li:last-child {
  border-right: 1px solid #e8e8e8;
}
.certify_wrap .certify_info .certify_tab > li > a {
  display: block;
  color: #666;
}
.certify_wrap .certify_info .certify_tab > li.active {
  background: #fff;
  border-bottom: 1px solid #fff;
}
.certify_wrap .certify_info .certify_tab > li.active {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.certify_wrap .certify_info .certify_tab > li.active > a {
  color: #333;
}
.certify_wrap .certify_info .certify_tab > li.active + li {
  border-left: 0;
}
.certify_wrap .certify_info .certify_con {
  margin-top: 40px;
}
.certify_wrap .certify_info .certify_con .con_top {
  position: relative;
  overflow: hidden;
}
.certify_wrap .certify_info .certify_con .con_top .txt {
  position: absolute;
  left: 0; bottom: 0;
}
.certify_wrap .certify_info .certify_con .con_top select {
  float: right;
  width: 220px;
}
.certify_wrap .certify_info .certify_con .tbl_wrap {
  margin-top: 20px;
}
.certify_wrap .certify_info .certify_con > li {
  display: none;
}
.certify_wrap .certify_info .certify_con > li.active {
  display: block;
}

/* SMS 발송 */
.send_wrap .send_box {
  margin-top: 50px;
}
.send_wrap .send_box .send_title {
  overflow: hidden;
  display: block;
  height: 64px;
  padding: 0 20px;
  line-height: 64px;
  background: url(../images/common/arr-bottom-bold.png) no-repeat;
  background-position: right 25px center;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
}
.send_wrap .send_box .send_title .title {
  float: left;
  font-size: 16px;
}
.send_wrap .send_box .send_title .send_desc {
  float: left;
  margin-left: 15px;
  color: #666;
}
.send_wrap .send_box .send_title .send_sub_title {
  float: right;
  margin-right: 37px;
}
.send_wrap .send_box .send_editor_form {
  display: none;
  padding: 40px 100px;
  background: #f8f8f8;
}
.send_wrap .send_box .send_editor_form.active {
  display: block;
}
.send_wrap .send_box .send_editor_form .editor_form_item {
  display: table;
  width: 100%;
  margin-top: 16px;
}
.send_wrap .send_box .send_editor_form .editor_form_item:first-child {
  margin-top: 0;
}
.send_wrap .send_box .send_editor_form .editor_form_item .inp_next_btn {
  font-size: 14px; font-weight: 500;
}
.send_wrap .send_box .send_editor_form .editor_form_item .form_name {
  display: table-cell;
  width: 108px;
  padding-top: 15px;
  color: #666;
  vertical-align: top;
}
.send_wrap .send_box .send_editor_form .editor_form_item textarea {
  resize: none;
}
.send_wrap .send_box .send_editor_form .editor_form_item .chk_inp_box {
  margin-top: 10px;
}
.send_wrap .send_box .send_editor_form .editor_form_item .txt_label {
  font-weight: 500;
  color: #333;
}
.send_wrap .send_box .send_editor_form .editor_form_item .chk_inp input[type="checkbox"] + label:before {
  background: #fff;
}
.send_wrap .send_box .send_editor_form .editor_form_item .chk_inp input[type="checkbox"]:checked + label:before {
  background: #ff7a00 url(../images/common/ico-check.png) no-repeat center;
  background-size: 11.4px 7.5px;
  border-color: transparent;
}
.send_wrap .send_box .send_editor_form .btn_wrap {
  margin-top: 30px;
}
.send_wrap > .btn_wrap {
  display: block;
  text-align: center;
}
.send_wrap > .btn_wrap .btn {
  width: 120px;
}

/* 채용대상자 목록 */
.recruit_list_wrap {
  margin-top: 50px;
}
.recruit_list_wrap .btn_wrap {
  margin-top: 20px;
}
.recruit_list_wrap .btn_wrap .btn {
  width: 120px;
}
.recruit_list_wrap .btn_wrap .btn:first-child {
  width: 208px;
}

/* 인증 파트너 목록 */
.acc_list_wrap {
  margin-top: 50px;
}
.acc_list_wrap .btn_wrap {
  margin-top: 20px;
}
.acc_list_wrap .btn_wrap .btn {
  width: 120px;
}

/* 공지사항 관리 */
.admin_notice_wrap .btn_wrap {
  margin-top: 20px;
}
.admin_notice_wrap .btn_wrap .btn {
  width: 120px;
}

/* bnss-list */
.bnss_list .sub_title {
  margin-top:50px;
}
.bnss_list .company_list {
  margin-top:30px;
}
.bnss_list .company_list:after {
  content:'';
  display:block;
  clear:both;
}
.bnss_list .company_list > li {
  float:left;
  margin-left:20px;
  margin-bottom:20px;
  width:calc((100% - 60px) / 4);
  background:#fff;
  border:1px solid #e8e8e8;
}
.bnss_list .company_list > li:first-child {
  margin-left:0;
}
.bnss_list .company_list > li:nth-child(4) {
  margin-left:19px;
}
.bnss_list .company_list > li:nth-child(5) {
  margin-left:0;
}
.bnss_list .company_list > li:last-child {
  margin-left:19px;
}
.bnss_list .company_list > li > .chk_inp_box {
  margin:9px 0 0 14px;
}
.bnss_list .company_list li > div {
  display:block;
  padding:0 20px;
}
.bnss_list .company_list > li img {
  display:block;
  margin:4px auto 40px;
  width:216px;
}
.bnss_list .company_list > li strong {
  display:block;
  padding-top:30px;
  font-size:16px;
  line-height:14px;
  border-top:1px solid #e8e8e8;
}
.bnss_list .company_list > li > div span {
  margin-top:10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color:#333;
  font-size:16px;
  font-weight:400;
  line-height:22px;
}
.bnss_list .company_list > li div div {
  margin-top:21px;
}
.bnss_list .company_list > li div div p {
  color:#333;
  line-height:22px;
  font-size:14px;
  font-weight:400;
}
.bnss_list .company_list ul {
  visibility: hidden;
  margin-top:2px;
}
.bnss_list .company_list > li:hover {
  border:1px solid #ff7a00;
}
.bnss_list .company_list > li:hover ul {
  visibility: inherit;
}
.bnss_list .company_list ul:after {
  content:'';
  display:block;
  clear:both;
}
.bnss_list .company_list ul li {
  float:left;
  position:relative;
  width:50%;
  background:#ff7a00;
  text-align:center;
}
.bnss_list .company_list ul li:first-child:after {
  content:'';
  position:absolute;
  top:50%;
  right:0;
  margin-top:-7.5px;
  width:1px;
  height:15px;
  background:#d06400;
}
.bnss_list .company_list ul li a {
  display:block;
  color:#fff;
  line-height:50px;
  font-size:14px;
}
.bnss_list + .btn_wrap > .btn {
  width:120px;
}

/* bnss detail */
.bnss_detail .box_info {
  margin-top:50px;  
  border:1px solid #e8e8e8;
}
.bnss_detail .box_info > div {
  padding:30px 0 30px 20px;
}
.bnss_detail .box_info .company_img {
  display:inline-block;
  margin-top:20px;
  width:240px;
  height:80px;
  vertical-align: top;
  text-align:center;
}
.bnss_detail .box_info .company_img img {
  position:relative;
  top:50%;
  display:inline-block;
  transform: translateY(-50%);
  width:142px;
}
.bnss_detail .box_info .company_txt_box {
  display:inline-block;
}
.bnss_detail .box_info .company_txt_box strong {
  display:block;
  font-size:16px;
}
.bnss_detail .box_info .company_txt_box p {
  margin-top:5px;
  line-height:22px;
  font-size:14px;
  font-weight:400;
}
.bnss_detail .box_info .list_info {
  margin-top:17px;
}
.bnss_detail .list_info li:first-child {
  margin-top:0;
}
.bnss_detail .list_info li {
  margin-top:10px;
  font-weight:400;
  font-size:14px;
}
.bnss_detail .list_info span {
  display:inline-block;
  width:82px;
  color:#666;
  font-weight:400;
}
.bnss_detail .box_info dl {
  clear:both;
  width:100%; height:60px;
  border-top:1px solid #e8e8e8;
}
.bnss_detail .box_info dl dt {
  float:left;
  position:relative;
  width:260px;
  padding-left:91px;
  box-sizing: border-box;
  line-height:60px;
  color:#666;
  font-weight:400;
}
.bnss_detail .box_info dl dt:after {
  content:'';
  position:absolute;
  right:0; top:0;  
  width:33px; height:100%;
  background:url('../images/contents/company/bg_right.png') no-repeat;
  background-size:100%;
}
.bnss_detail .box_info dl dd {
  float:left;
  margin-left:45px;
  line-height:60px;
  font-weight:400;
}
.bnss_detail .text_detail {
  margin-top:40px;
}
.bnss_detail .text_detail li:after {
  content:'';
  display:block;
  clear:both;
}
.bnss_detail .text_detail h3 {
  float:left;
  width:306px;
  font-size:18px;
}
.bnss_detail .text_detail li > div {
  float:right;
  width:calc(100% - 306px);
}
.bnss_detail .text_detail .text_company_info p {
  margin-top:25px;
  font-weight:400; 
}
.bnss_detail .text_detail .text_company_info p:first-child {
  margin-top:0;
}
.bnss_detail .text_detail > li:last-child {
  margin-top:60px;
}
.bnss_detail .slide_img_company {
  position:relative;
  margin-top:20px;
}
.bnss_detail .slide_img_company img {
  display:block;
  width:100%;
}
.bnss_detail .slide_img_company .slick-arrow {  
  z-index:1;
  position:absolute;
  top:50%;
  margin-top:-34.5px;
  width:65px; height:69px;
  background:#fff url('../images/contents/company/btn_arrow.png') no-repeat center;
  background-size:15px 25px;
  font-size:0;
}
.bnss_detail .slide_img_company .slick-prev {
  left:0;
}
.bnss_detail .slide_img_company .slick-next {
  right:0;
  transform: rotate(180deg)
}
.bnss_detail .text_link {
  color:#4876ef;
  text-decoration: underline;
}
.bnss_detail .company_map {
  margin-top:20px;
  width:935px;
  height:320px;
  background:url('../images/contents/company/img_map.png') no-repeat;
}

/* 템플릿 메세지 선택 layer popup */
.layer_popup.layer_msg_temp .popup_box {
  width: 750px;
  padding: 40px 60px;
}
.layer_popup.layer_msg_temp .popup_box .popup_title {
  margin-top: 0;
}
.layer_popup.layer_msg_temp .temp_desc {
  font-size: 18px;
  text-align: center;
}
.layer_popup.layer_msg_temp .temp_desc .txt_alert {
  background: url(../images/common/ico-alert.png) no-repeat 0px 1px;
}
.layer_popup.layer_msg_temp .select_temp {
  margin-top: 30px;
}
.layer_popup.layer_msg_temp .select_temp .select_temp_item {
  margin-top: 40px;
}
.layer_popup.layer_msg_temp .select_temp .select_temp_item:first-child {
  margin-top: 0;
}
.layer_popup.layer_msg_temp .select_temp .chk_inp {
  position: relative;
  top: 3px;
}
.layer_popup.layer_msg_temp .select_temp .txt_label {
  font-size: 18px; font-weight: 500;
  color: #333;
}
.layer_popup.layer_msg_temp .select_temp .textarea_box {
  margin-top: 20px;
}
.layer_popup.layer_msg_temp .select_temp .textarea_box textarea {
  height: 120px;
  resize: none;
  overflow-y: auto;
}

/* 공지사항 등록 */
.notice_write_wrap {
  margin-top: 50px;
}
.notice_write_wrap .notice_write_item {
  display: table;
  width: 100%;
  margin-top: 16px;
}
.notice_write_wrap .notice_write_item:first-of-type {
  margin-top: 20px;
}
.notice_write_wrap .notice_write_item .form_name {
  display: table-cell;
  width: 95px;
  color: #666;
  vertical-align: middle;
}
.notice_write_wrap .notice_write_item .form_box {
  overflow: hidden;
  display: table-cell;
  padding-left: 10px;
  vertical-align: middle;
}
.notice_write_wrap .notice_write_item .form_name + .form_box {
  width: 500px;
  padding-left: 0;
}
.notice_write_wrap .notice_write_item .form_box select {
  float: left;
  width: 250px;
}
.notice_write_wrap .notice_write_item .form_box select:first-child {
  border-right: 0;
}
.notice_write_wrap .notice_write_item .form_box .chk_inp_box {
  position: relative;
  top: 3px;
}
.notice_write_wrap .notice_write_item .form_box .file_inp_name {
  width: 362px;
}
.notice_write_wrap .notice_write_item .form_box .file_label {
  width: 126px;
  margin-left: 10px;
}
.notice_write_wrap .btn_wrap .btn {
  width: 120px;
}
.notice_write_wrap .notice_write_item.editor {
  display: block;
}
.notice_write_wrap .notice_write_item.editor textarea {
  height: 560px;
}
