@charset "utf-8";

/* 로그인 페이지 */
.login_wrap {
  width: 960px;
  margin: 0 auto; padding-top: 100px;
}
.login_wrap .text_login {
  text-align: center;
}
.login_wrap .text_login strong {
  font-size: 28px;
}
.login_wrap .text_login p {
  margin-top: 12px;
}
.login_wrap .login_con {
  height: 430px;
  margin-top: 50px; padding: 50px 48px;
  border: 1px solid #e8e8e8;
  box-sizing: border-box
}
.login_wrap .login_con .login_box {
  float: left;
  width: 393px;
  padding-right: 40px;
  box-sizing: content-box;
}
.login_wrap .login_con .login_box .login_tab {
  border-bottom: 1px solid #d2d2d2;
}
.login_wrap .login_con .login_box .login_tab::after {
  content: '';
  display: table;
  clear: both;
}
.login_wrap .login_con .login_box .login_tab > li {
  position: relative;
  float: left;
  width: calc(100% / 3);
  padding-bottom: 16px;
  text-align: center;
  cursor: pointer;
}
.login_wrap .login_con .login_box .login_tab > li.active > a {
  color: #ff7a00;
}
.login_wrap .login_con .login_box .login_tab > li.active::after {
  content: '';
  position: absolute;
  left: 0; bottom: -1px;
  width: 100%; height: 2px;
  background: #ff7a00;
}
.login_wrap .login_con .login_box .login_tab > li > a {
  font-size: 16px; font-weight: 500;
  color: #000;
}
.login_wrap .login_con .login_box .tab_list {
  margin-top: 30px;
}
.login_wrap .login_con .login_box .tab_list > li {
  display: none;
}
.login_wrap .login_con .login_box .tab_list > li.active {
  display: block;
}
.login_wrap .login_con .login_box .tab_list .inp_box input:last-child {
  border-top: 0;
}
.login_wrap .login_con .login_box .tab_list .btn_login {
  margin-top: 20px;
}
.login_wrap .login_con .login_box .tab_list .option_box {
  padding-top: 22px;
}
.login_wrap .login_con .login_box .tab_list .option_box::after {
  content: '';
  display: table;
  clear: both;
}
.login_wrap .login_con .login_box .tab_list .option_box .chk_inp_box {
  float: left;
  margin-left: 17px;
}
.login_wrap .login_con .login_box .tab_list .option_box .chk_inp_box:first-child {
  margin-left: 0;
}
.login_wrap .login_con .login_box .tab_list .option_box .link_forgot {
  float: right;
}
.login_wrap .login_con .login_box .tab_list .desc_login {
  margin-top: 19px; padding-top: 23px;
  text-align: center;
  border-top: 1px solid #e8e8e8;
}
.login_wrap .login_con .login_box .tab_list .desc_login > a {
  margin-left: 14px;
}
.login_wrap .login_con .ad_box {
  float: left;
  width: 386px;
  padding-left: 40px;
  border-left: 1px solid #e8e8e8;
  box-sizing: content-box;
}
.login_wrap .login_con .ad_box a {
  display: block;
}

/* layer tooltip */
.tooltip_box {
  position: relative;
  margin-top: 19px; padding-top: 23px;
  border-top: 1px solid #e8e8e8;
  text-align: center;
}
.tooltip_box .layer_tooltip {
  display: none;
  position: absolute;
  left: 53px; bottom: -72px;
  width: 240px;
  padding: 10px 15px;
  background: #666;
  box-sizing: border-box;
  z-index: 99;
}
.tooltip_box .layer_tooltip.on {
  display: block;
}
.tooltip_box .layer_tooltip::before {
  content: '';
  position: absolute;
  right: 40px; top: -5px;
  width: 10px; height: 10px;
  background: #666;
  transform: rotate(-45deg);
}
.tooltip_box .layer_tooltip .text_tooltip {
  position: relative;
  font-size: 12px;
  line-height: 1.83;
  color: #fff;
  text-align: left;
}

/* 마이페이지 */
.section_item {
  margin-top: 50px;
}
.profile_box {
  overflow: hidden;
  margin-top: 30px; padding-bottom: 30px;
  border-bottom: 1px solid #e8e8e8;
}
.profile_box .left_profile {
  position: relative;
  float: left;
  width: 143px; height: 185px;
  margin-right: 50px;
  background: #fff;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  text-align: center;
}
.profile_box .left_profile .btn_photo::before {
  content: '';
  display: block;
  width: 12px; height: 12px;
  margin: 0 auto 10px;
  background: url(../images/common/ico-plus.png) no-repeat 0 0;
}
.profile_box .left_profile .btn_photo {
  position: relative;
  top: 50%;
  display: block;
  color: #666;
  transform: translateY(-50%);
}
.profile_box .left_profile .img_profile {
  width: 100%;
}
.profile_box .left_profile .btn_photo_edit {
  position: absolute;
  left: 0; bottom: 0;
  width: 100%; height: 29px;
  font-size: 12px; font-weight: 500;
  line-height: 29px;
  color: #fff;
  background: rgba(0, 0, 0, .3);
}
.profile_box .left_profile .btn_photo_del {
  position: absolute;
  right: 0; top: 0;
  width: 24px; height: 24px;
  background: url(../images/common/ico-close-bg.png) no-repeat 0 0;
}
.profile_box .right_profile {
  float: right;
  width: calc(100% - 193px);
}
.profile_box .right_profile .profile_list {
  overflow: hidden;
}
.profile_box .right_profile .profile_list > li {
  float: left;
  display: table;
  width: 50%;
  margin-bottom: 16px;
  table-layout: fixed;
}
.profile_box .right_profile .profile_list > li:nth-child(even) {
  width: calc(50% - 50px);
  margin-left: 50px;
}
.profile_box .right_profile .profile_list .address {
  width: 100%;
  margin-bottom: 0;
}
.profile_box .right_profile .profile_list .nation {
  overflow: hidden;
  width: 100% !important;
  margin: 20px 0 0 0 !important; padding: 20px 0;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.profile_box .right_profile .profile_list .nation .chk_inp_box {
  float: left;
  line-height: 44px;
}
.profile_box .right_profile .profile_list .nation .profile_name + .chk_inp_box {
  margin-right: 40px;
}
.profile_box .right_profile .profile_list .nation .is_foreigner {
  float: left;
  margin-left: 20px;
}
.profile_box .right_profile .profile_list .nation .is_foreigner input {
  float: left;
  width: 200px;
}
.profile_box .right_profile .profile_list .nation .is_foreigner input:last-child {
  margin-left: 10px;
}
.profile_box .right_profile .profile_list .profile_name {
  display: table-cell;
  width: 111px;
  color: #666;
  vertical-align: middle;
}
.profile_box .right_profile .profile_list .profile_inp {
  display: table-cell;
  vertical-align: middle;
}
.profile_box .right_profile .profile_list .inp_tel {
  float: left;
  width: calc(100% - 80px);
}
.profile_box .right_profile .profile_list .inp_tel + .btn {
  float: left;
  width: 70px; height: 44px;
  margin-left: 10px;
  line-height: 44px;
  font-size: 14px; font-weight: 500;
}
.profile_box .right_profile .profile_list .search_addr {
  position: relative;
  float: left;
}
.profile_box .right_profile .profile_list .search_addr input {
  padding-right: 44px;
}
.profile_box .right_profile .profile_list .search_addr .btn_address {
  position: absolute;
  right: 0; top: 0;
  width: 44px; height: 44px;
  background: url(../images/common/ico-search.png) no-repeat center;
}
.profile_box .right_profile .profile_list .inp_addr1 {
  float: left;
  width: 147px;
}
.profile_box .right_profile .profile_list .inp_addr2 {
  float: left;
  width: 369px;
  margin-left: 10px;
}
.profile_box .right_profile .profile_list .inp_addr3 {
  float: left;
  width: 360px;
  margin-left: 10px;
}
.layer_popup.profile_layer .file_notice_list {
  margin-top: 15px;
}
.layer_popup.profile_layer .file_notice_list > li {
  margin-top: 7px;
  font-size: 13px;
}
.layer_popup.profile_layer .file_notice_list > li:first-child {
  margin-top: 0;
}

.mypage_wrap .notice_list > li {
  display: table;
  width: 100%; height: 53px;
  border-bottom: 1px solid #e8e8e8;
  line-height: 53px;
}
.mypage_wrap .notice_list > li:nth-child(odd) {
  background: #f8f8f8;
}
.mypage_wrap .notice_list .notice_cat {
  display: table-cell;
  width: 146px;
  padding: 0 60px;
  font-weight: 500;
  box-sizing: border-box;
  vertical-align: middle;
}
.mypage_wrap .notice_list .notice_title {
  position: relative;
  top: 1px;
  display: table-cell;
  max-width: 864px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
.mypage_wrap .notice_list .notice_title:hover {
  text-decoration: underline;
}
.mypage_wrap .notice_list .notice_date {
  display: table-cell;
  width: 190px;
  padding: 0 60px;
  vertical-align: middle;
}

/* 마이페이지 (협력사) */
.mypage_wrap.type_pathner .profile_box .left_profile {
  width: 228px; height: 164px;
}
.mypage_wrap.type_pathner .profile_box .right_profile {
  width: calc(100% - 278px);
}
.mypage_wrap.type_pathner .profile_box .right_profile .profile_list > li:nth-child(3) {
  width: 100%;
}
.mypage_wrap.type_pathner .profile_box .right_profile .profile_list > li:nth-child(3) input {
  width: 245px;
}
.mypage_wrap.type_pathner .profile_box .right_profile .profile_list > li.address {
  width: 100%;
  margin-left: 0;
}
.mypage_wrap.type_pathner .profile_box .right_profile .profile_list .inp_addr1 {
  width: 140px;
}
.mypage_wrap.type_pathner .profile_box .right_profile .profile_list .inp_addr2 {
  width: 332px;
}
.mypage_wrap.type_pathner .profile_box .right_profile .profile_list .inp_addr3 {
  width: 319px;
}


/* 커리어패스 */
.career_wrap .profile_box {
  border-bottom: 0;
}
.career_wrap .item_head {
  overflow: hidden;
  display: table;
  width: 100%;
  margin-top: 30px;
  background: #f8f8f8;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  table-layout: fixed;
}
.career_wrap .item_head > li {
  display: table-cell;
  height: 46px;
  padding: 0 8px;
  line-height: 46px;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  box-sizing: initial;
}
.career_wrap .item_head > li:first-child {
  padding-left: 40px;
}
.career_wrap .item_head > li:last-child {
  padding-right: 0;
}
.career_wrap .degree {width: 84px;}
.career_wrap .school {width: 180px;}
.career_wrap .attend_date {width: 134px;}
.career_wrap .branch {width: 84px;}
.career_wrap .graduated {width: 100px;}
.career_wrap .grade {width: 134px;}
.career_wrap .attach {width: 120px;}
.career_wrap .status {width: 92px;}
.career_wrap .certifi {width: 104px;}
.career_wrap .btn_box {
  width: 40px;
  box-sizing: border-box;
}
.career_wrap .company {width: 240px;}
.career_wrap .part {width: 120px;}
.career_wrap .location {width: 90px;}
.career_wrap .reason {width: 152px;}
.career_wrap .lang {width: 140px;}
.career_wrap .test {width: 140px;}
.career_wrap .score {width: 90px;}
.career_wrap .test_grade {width: 90px;}
.career_wrap .agency {width: 90px;}
.career_wrap .get_date {width: 134px;}
.career_wrap .license_kind {width: 222px;}
.career_wrap .license_name {width: 198px;}
.career_wrap .license_agency {width: 198px;}
.career_wrap .item_list {
  display: table;
  width: 100%;
  table-layout: fixed;
  padding: 20px 0;
  border-bottom: 1px solid #e8e8e8;
}
.career_wrap .btn_list_custom {
  width: 24px; height: 24px;
  background: url(../images/common/ico-plus-minus.png) no-repeat;
  vertical-align: middle;
}
.career_wrap .btn_list_custom.plus {
  background-position: 0 0;
}
.career_wrap .btn_list_custom.minus {
  background-position: 0 -24px;
}
.career_wrap .item_list > li {
  display: table-cell;
  padding: 0 8px;
  vertical-align: middle;
  box-sizing: initial;
}
.career_wrap .item_list > li:first-child {
  padding: 0;
}
.career_wrap .item_list > li:last-child {
  padding: 0 0 0 8px;
}
.career_wrap .item_list .school .inp_box:last-child,
.career_wrap .item_list .attend_date .inp_box:last-child,
.career_wrap .item_list .company .inp_box:last-child,
.career_wrap .item_list .part .inp_box:last-child {
  margin-top: 10px;
}
.career_wrap .item_list .grade {
  overflow: hidden;
}
.career_wrap .item_list .grade input {
  float: left;
  width: 60px;
  padding: 0 14px;
}
.career_wrap .item_list .grade .slush {
  float: left;
  width: 14px;
  line-height: 44px;
  text-align: center;
}
.career_wrap .item_list .status {
  text-align: center;
}

/* 입사지원서 */
.resume_wrap .inp_item_wrap {
  overflow: hidden;
  display: table;
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid #e8e8e8;
}
.resume_wrap .inp_item_wrap .inp_item {
  display: table-cell;
  padding: 20px 0;
  vertical-align: middle;
}
.resume_wrap .inp_item_wrap .inp_item .inp_item_title {
  float: left;
  margin-right: 30px;
  line-height: 44px;
  color: #666;
}
.resume_wrap .inp_item_wrap .inp_item:first-child .inp_item_title {
  width: 82px;
  margin-right: 0;
  margin-left: 60px;
}
.resume_wrap .inp_item_wrap .inp_item .chk_inp_box {
  float: left;
  margin-left: 40px;
  line-height: 44px;
}
.resume_wrap .inp_item_wrap .inp_item .inp_item_title + .chk_inp_box {
  margin-left: 0;
}
.resume_wrap .inp_item_wrap .inp_item .select_medium {
  width: 220px;
}
.resume_wrap .inp_item_wrap .inp_item .inp_set {
  overflow: hidden;
  float: left;
  margin-left: 20px;
}
.resume_wrap .inp_item_wrap .inp_item .inp_set input {
  float: left;
  width: 310px;
}
.resume_wrap .inp_item_wrap .inp_item .inp_set input:last-child {
  margin-left: 10px;
}
.resume_wrap .textarea_box {
  margin-top: 30px;
}
.resume_wrap .textarea_box textarea {
  height: 200px;
}
.resume_wrap .textarea_box .txt_byte {
  float: right;
  margin-top: 10px;
}
.resume_wrap .section_item_bottom {
  margin-top: 50px; padding-top: 20px;
  border-top: 1px solid #e8e8e8;
}
.resume_wrap .section_item_bottom .text_center {
  text-align: center;
}

/* 채용정보 */
.data_info_list {
  margin-top: 50px;
}

/* 채용정보 상세 */
.job_detail_wrap .job_detail_title {
  display: table;
  width: 100%;
  margin-top: 50px;
  table-layout: fixed;
  border-top: 2px solid #333;
  border-bottom: 1px solid #e8e8e8;
}
.job_detail_wrap .job_detail_title .detail_left {
  display: table-cell;
  width: 1018px;
  padding: 30px 0;
  vertical-align: middle;
}
.job_detail_wrap .job_detail_title .detail_left .detail_company {
  overflow: hidden;
}
.job_detail_wrap .job_detail_title .detail_left .detail_company > li {
  float: left;
  margin-left: 14px; padding-left: 14px;
  border-left: 1px solid #e8e8e8;
  font-size: 18px;
}
.job_detail_wrap .job_detail_title .detail_left .detail_title {
  display: block;
  margin-top: 10px;
  font-size: 28px;
}
.job_detail_wrap .job_detail_title .detail_left .detail_company > li:first-child {
  margin-left: 0; padding-left: 0;
  border-left: 0;
}
.job_detail_wrap .job_detail_title .detail_right {
  display: table-cell;
  width: 182px;
  padding: 30px 0;
  vertical-align: middle;
}
.job_detail_wrap .job_detail_title .detail_right .btn_apply {
  display: block;
  width: 100%; height: 52px;
  background: #ff7a00 url(../images/common/ico-doc.png) no-repeat 30px center;
  color: #fff;
}
.job_detail_wrap .section_job_detail {
  position: relative;
  margin-top: 50px;
}
.job_detail_wrap .job_detail_subtitle {
  margin-bottom: 10px;
  font-size: 18px;
}
.job_detail_wrap .job_detail_title + .section_job_detail {
  margin-top: 70px;
}
.section_job_detail .company_info {
  position: relative;
  display: table;
  width: 100%;
  padding: 24px 60px;
  table-layout: fixed;
  border: 1px solid #e8e8e8;
}
.section_job_detail .company_info .company_thum {
  display: table-cell;
  width: 240px;
  vertical-align: middle;
  text-align: center;
}
.section_job_detail .company_info .company_detail {
  display: table-cell;
  padding-left: 60px;
  vertical-align: middle;
}
.company_info .company_detail .company_detail_top {
  overflow: hidden;
}
.company_info .company_detail .company_detail_top strong {
  float: left;
  font-size: 16px;
  line-height: 30px;
}
.company_detail .company_detail_top .link_company {
  float: left;
  width: 93px; height: 30px;
  margin-left: 16px; padding-right: 20px;
  line-height: 30px;
  background: url(../images/common/arr-right.png) no-repeat;
  background-position: right 9px center;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  color: #666;
  text-align: center;
}
.company_info .company_detail .detail_list {
  overflow: hidden;
  margin-top: 17px;
}
.company_info .company_detail .detail_list > li {
  float: left;
  width: calc(100% - 314px);
  margin-top: 12px;
}
.company_info .company_detail .detail_list > li:nth-child(odd) {
  width: 314px;
}
.company_info .company_detail .detail_list .list_name {
  float: left;
  width: 82px;
  color: #666;
}
.company_info .company_detail .detail_list .list_link {
  text-decoration: underline;
  color: #4876ef;
}
.section_job_detail .company_flag {
  position: absolute;
  right: 60px; top: 33px;
  width: 90px; height: 67px;
  padding-top: 18px;
  background: url(../images/common/bg-flag.png) no-repeat;
  box-sizing: border-box;
  font-weight: 700;
  color: #fff;
  text-align: center;
}
.section_job_detail .company_flag.ing {
  background-position: 0 0;
}
.section_job_detail .company_flag.end {
  background-position: -90px 0;
}

/* 공지사항 상세 */
.notice_detail_wrap {
  margin-top: 50px;
}
.notice_detail_wrap .detail_title {
  margin-top: 30px; padding-bottom: 30px;
  border-bottom: 1px solid #e8e8e8;
}
.notice_detail_wrap .detail_title strong {
  display: block;
  font-size: 28px;
}
.notice_detail_wrap .detail_title .detail_title_info {
  overflow: hidden;
  margin-top: 10px;
}
.notice_detail_wrap .detail_title .detail_title_info > li {
  float: left;
  margin-left: 30px;
  color: #999;
}
.notice_detail_wrap .detail_title .detail_title_info > li:first-child {
  margin-left: 0;
}
.notice_detail_wrap .detail_info {
  min-height: 480px;
  padding: 30px 60px;
}
.notice_detail_wrap .detail_info > p {
  margin-top: 40px;
  line-height: 1.5;
}
.notice_detail_wrap .detail_info > p:first-of-type {
  margin-top: 0;
}
.notice_detail_wrap .detail_attach {
  display: table;
  width: 100%;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.notice_detail_wrap .detail_attach .attach_title {
  display: table-cell;
  width: 200px; height: 53px;
  background: #f8f8f8;
  text-align: center;
  vertical-align: middle;
}
.notice_detail_wrap .detail_attach .attach_file {
  display: table-cell;
  height: 53px;
  padding-left: 30px;
  vertical-align: middle;
}
.notice_detail_wrap .detail_attach .attach_file a {
  color: #4876ef;
  text-decoration: underline;
}
.notice_detail_wrap .btn_wrap .btn {
  width: 120px;
}
.notice_detail_wrap .notice_nav {
  overflow: hidden;
  margin-top: 70px;
}
.notice_detail_wrap .notice_nav .notice_nav_btn {
  float: left;
  width: 50%;
  padding: 26px 70px;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
}
.notice_detail_wrap .notice_nav .notice_nav_btn .nav_title {
  display: block;
  font-size: 14px; font-weight: 400;
}
.notice_detail_wrap .notice_nav .notice_nav_btn .nav_date {
  display: block;
  margin-top: 4px;
  font-size: 13px; font-weight: 400;
  color: #999;
}
.notice_detail_wrap .notice_nav .notice_nav_btn.prev {
  background: url(../images/common/navi-notice-left.png) no-repeat;
  background-position: left 35px center;
  text-align: left
}
.notice_detail_wrap .notice_nav .notice_nav_btn.next {
  background: url(../images/common/navi-notice-right.png) no-repeat;
  background-position: right 35px center;
  text-align: right;
  border-left: 0;
}

/* 회원가입 */
.join_sp1_wrap .confirm_box {
  margin-top: 50px; padding-bottom: 80px;
  border-bottom: 2px solid #333;
}
.join_sp1_wrap .confirm_box .confirm_txt {
  text-align: center;
}
.join_sp1_wrap .confirm_box .confirm_txt strong {
  font-size: 28px;
}
.join_sp1_wrap .confirm_box .confirm_txt > p {
  margin-top: 10px;
}
.join_sp1_wrap .confirm_box .confirm_form {
  width: 590px;
  margin: 40px auto 0;
}
.join_sp1_wrap .confirm_box .confirm_form .confirm_form_item {
  display: table;
  width: 100%;
  margin-top: 16px;
}
.join_sp1_wrap .confirm_box .confirm_form .confirm_form_item:first-child {
  margin-top: 0;
}
.join_sp1_wrap .confirm_box .confirm_form .confirm_form_item .form_name {
  display: table-cell;
  width: 134px;
  color: #666;
  vertical-align: middle;
}
.join_sp1_wrap .confirm_box .confirm_form .confirm_form_item .inp_box {
  display: table-cell;
  vertical-align: middle;
}
.join_sp1_wrap .confirm_box .confirm_form .confirm_form_item .inp_next_btn {
  font-size: 14px; font-weight: 500;
}
.join_sp1_wrap .agree_box {
  width: 590px;
  margin: 50px auto 0;
}
.join_sp1_wrap .agree_box .agree_title {
  display: block;
  font-size: 28px;
  text-align: center;
}
.join_sp1_wrap .agree_box .chk_inp {
  line-height: 23px;
}
.join_sp1_wrap .agree_box .txt_label {
  margin-left: 13px;
  font-size: 18px; font-weight: 500;
  color: #333;
}
.join_sp1_wrap .agree_box .agree_all {
  margin-top: 50px; padding-bottom: 20px;
  border-bottom: 1px solid #e8e8e8;
}
.join_sp1_wrap .agree_box .terms_item {
  margin-top: 50px;
}
.join_sp1_wrap .agree_box .agree_all + .terms_item {
  margin-top: 30px;
}
.join_sp1_wrap .agree_box .terms_item .terms_txt {
  height: 228px;
  margin-top: 8px; padding: 30px 33px;
  overflow-y: auto;
  background: #f8f8f8;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  color: #666;
  line-height: 1.71;
}
.join_sp1_wrap .agree_box .choice_chk {
  margin-top: 30px;
}
.join_sp1_wrap .agree_box .choice_chk .chk_inp_box {
  display: block;
  margin-top: 14px;
}
.join_sp1_wrap .agree_box .choice_chk .chk_inp_box:first-child {
  margin-top: 0;
}
.join_sp1_wrap .agree_box .choice_chk .chk_inp_box .chk_inp {
  line-height: 18px;
}
.join_sp1_wrap .agree_box .choice_chk .chk_inp_box .txt_label {
  font-size: 14px;
}

.join_sp3_wrap {
  width: 500px;
  margin: 100px auto 0;
  text-align: center;
}
.join_sp3_wrap .logo {
  display: block;
}
.join_sp3_wrap > strong {
  display: block;
  margin-top: 7px;
  font-size: 28px;
}
.join_sp3_wrap > p {
  margin-top: 30px;
  line-height: 1.71;
}
.join_sp3_wrap .btn_wrap {
  display: inline-block;
  margin-top: 90px;
}
.join_sp3_wrap .btn_wrap .btn {
  width: 182px;
}

/* Company_introduce */
.company_intro .company_list {
  margin-top:50px;
}
.company_intro .company_list:after {
  content:'';
  display:block;
  clear:both;
}
.company_intro .company_list > li {
  float:left;
  margin-left:20px;
  margin-bottom:20px;
  width:calc((100% - 60px) / 4);
  background:#fff;
  border:1px solid #e8e8e8;
}
.company_intro .company_list > li:first-child {
  margin-left:0;
}
.company_intro .company_list > li:nth-child(4) {
  margin-left:19px;
}
.company_intro .company_list > li:nth-child(5) {
  margin-left:0;
}
.company_intro .company_list > li:last-child {
  margin-left:19px;
}
.company_intro .company_list li > div {
  display:block;
  padding:0 20px;
}
.company_intro .company_list > li img {
  display:block;
  margin:40px auto;
  width:216px;
}
.company_intro .company_list > li strong {
  display:block;
  padding-top:30px;
  font-size:16px;
  line-height:14px;
  border-top:1px solid #e8e8e8;
}
.company_intro .company_list > li span {
  margin-top:10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color:#333;
  font-size:16px;
  font-weight:400;
  line-height:22px;
}
.company_intro .company_list > li div div {
  margin-top:21px;
}
.company_intro .company_list > li div div p {
  color:#333;
  line-height:22px;
  font-size:14px;
  font-weight:400;
}
.company_intro .company_list ul {
  visibility: hidden;
  margin-top:2px;
}
.company_intro .company_list > li:hover {
  border:1px solid #ff7a00;
}
.company_intro .company_list > li:hover ul {
  visibility: inherit;
}
.company_intro .company_list ul:after {
  content:'';
  display:block;
  clear:both;
}
.company_intro .company_list ul li {
  float:left;
  position:relative;
  width:50%;
  background:#ff7a00;
  text-align:center;
}
.company_intro .company_list ul li:first-child:after {
  content:'';
  position:absolute;
  top:50%;
  right:0;
  margin-top:-7.5px;
  width:1px;
  height:15px;
  background:#d06400;
}
.company_intro .company_list ul li a {
  display:block;
  color:#fff;
  line-height:50px;
  font-size:14px;
}

/* Company detail */
.company_detail .box_info {
  margin-top:50px;  
  border:1px solid #e8e8e8;
}
.company_detail .box_info > div {
  padding:30px 0 30px 20px;
}
.company_detail .box_info .company_img {
  display:inline-block;
  margin-top:20px;
  width:240px;
  height:80px;
  vertical-align: top;
  text-align:center;
}
.company_detail .box_info .company_img img {
  position:relative;
  top:50%;
  display:inline-block;
  transform: translateY(-50%);
  width:142px;
}
.company_detail .box_info .company_txt_box {
  display:inline-block;
}
.company_detail .box_info .company_txt_box strong {
  display:block;
  font-size:16px;
}
.company_detail .box_info .company_txt_box p {
  margin-top:5px;
  line-height:22px;
  font-size:14px;
  font-weight:400;
}
.company_detail .box_info .list_info {
  margin-top:17px;
}
.company_detail .list_info li:first-child {
  margin-top:0;
}
.company_detail .list_info li {
  margin-top:10px;
  font-weight:400;
  font-size:14px;
}
.company_detail .list_info span {
  display:inline-block;
  width:82px;
  color:#666;
  font-weight:400;
}
.company_detail .box_info dl {
  clear:both;
  width:100%; height:60px;
  border-top:1px solid #e8e8e8;
}
.company_detail .box_info dl dt {
  float:left;
  position:relative;
  width:260px;
  padding-left:91px;
  box-sizing: border-box;
  line-height:60px;
  color:#666;
  font-weight:400;
}
.company_detail .box_info dl dt:after {
  content:'';
  position:absolute;
  right:0; top:0;  
  width:33px; height:100%;
  background:url('../images/contents/company/bg_right.png') no-repeat;
  background-size:100%;
}
.company_detail .box_info dl dd {
  float:left;
  margin-left:45px;
  line-height:60px;
  font-weight:400;
}
.company_detail .text_detail {
  margin-top:40px;
}
.company_detail .text_detail li:after {
  content:'';
  display:block;
  clear:both;
}
.company_detail .text_detail h3 {
  float:left;
  width:306px;
  font-size:18px;
}
.company_detail .text_detail li > div {
  float:right;
  width:calc(100% - 306px);
}
.company_detail .text_detail .text_company_info p {
  margin-top:25px;
  font-weight:400; 
}
.company_detail .text_detail .text_company_info p:first-child {
  margin-top:0;
}
.company_detail .text_detail > li:last-child {
  margin-top:60px;
}
.company_detail .slide_img_company {
  position:relative;
  margin-top:20px;
}
.company_detail .slide_img_company img {
  display:block;
  width:100%;
}
.company_detail .slide_img_company .slick-arrow {  
  z-index:1;
  position:absolute;
  top:50%;
  margin-top:-34.5px;
  width:65px; height:69px;
  background:#fff url('../images/contents/company/btn_arrow.png') no-repeat center;
  background-size:15px 25px;
  font-size:0;
}
.company_detail .slide_img_company .slick-prev {
  left:0;
}
.company_detail .slide_img_company .slick-next {
  right:0;
  transform: rotate(180deg)
}
.company_detail .text_link {
  color:#4876ef;
  text-decoration: underline;
}
.company_detail .company_map {
  margin-top:20px;
  width:935px;
  height:320px;
  background:url('../images/contents/company/img_map.png') no-repeat;
}

/* 아이디 비밀번호 찾기 */
.idpw_wrap .idpw_con {
  margin:0 auto;
  width:590px;
}
.idpw_wrap .tab {
  margin-top:80px;
}
.idpw_tab_list {
  margin-top:50px;
}
.idpw_tab_list .txt_notice {
  position:relative;
  left:50%;
  display:inline-block;
  padding-left:26px;
  color:#333;
  background:url('../images/contents/member/ico_notice.png')no-repeat left;
  background-size:16px;
  transform: translateX(-50%);
}
.idpw_tab_list > li > ul {
  margin-top:20px;
  border-top:1px solid #e8e8e8;
  border-bottom:1px solid #e8e8e8;
}
.idpw_tab_list > li > ul > li:first-child {
  border-top:none;
}
.idpw_tab_list > li > ul > li {
  padding:27px 40px;
  box-sizing:border-box;
  border-top:1px solid #e8e8e8;
  background:#fff;
}
.idpw_tab_list > li > ul > li.on {
  background:#f8f8f8;
}
.idpw_tab_list > li > ul > li .chk_con {
  display:none;
  clear:both;
  margin-top:27px;
}
.idpw_tab_list > li > ul > li .on.chk_con { 
  display:block;
}
.idpw_tab_list > li > ul > li .chk_con > div:after {
  content:'';
  display:block;
  clear:both;
}
.idpw_tab_list > li > ul > li .chk_con > div:first-child {
  margin-top:0;
}

.idpw_tab_list > li > ul > li .chk_con > div {
  margin-top:16px;
}
.idpw_tab_list > li > ul > li .chk_con > div > label {
  float:left;
  margin-top:12px;
  width:108px;
  color:#666;
}
.idpw_tab_list li ul li .chk_con > div > span {
  float:left;
  width:calc(100% - 108px);
}
.idpw_tab_list li ul li .chk_con > div > span.con02:last-child {
  float:right;
  margin-top:10px;
}
.idpw_tab_list li ul li .chk_con > div > span.con02 > input {
  float:left;
  width:calc(100% - 136px);
}
.idpw_popup li {
  display:table;
  margin-top:16px;
  width:100%;
}
.idpw_popup li:first-child {
  margin-top:0;
}
.idpw_popup li label {
  display:table-cell;
  width:127px;
  color:#666;
}
.idpw_popup li span {
  display:table-cell;
}

.idpw_wrap .txt_id {
  text-align:center;
}
.idpw_wrap .id_box {
  margin-top:20px;
  height:133px;
  background:#f8f8f8;
  border:1px solid #e8e8e8;
  text-align:center;
}
.idpw_wrap .id_box span {
  position: relative;
  display:block;
  top:50%;  
  transform: translateY(-50%); 
  font-size:22px;
}

/* 파트너 채용정보 */
.pathner_job .company_info_box {
  margin-top:50px;
  padding:32px 50px;
  border:1px solid #e8e8e8;
}
.pathner_job .company_info_box:after {
  content:'';
  display:block;
  clear:both;
}
.pathner_job .company_info_box div {
  float:left;
}
.pathner_job .company_info_box .company_img {
  margin-right:50px;
  width:240px;
  height:80px;
  text-align:center;
}
.pathner_job .company_info_box .company_img img {
  position:relative;
  top:50%;
  transform: translateY(-50%);
  display:inline-block;  
}
.pathner_job .company_info_box .company_img img.img_hynix {
  width:167px;
}
.pathner_job .company_info_box .company_img img.img_drimsys {
  width:153px;
}
.pathner_job .company_info_box div strong {
  font-size:16px;
}
.pathner_job .company_info_box div p {
  color:#666;
  line-height:24px;
}
.pathner_job .company_info_box div p:nth-child(2) {
  margin-top:14px;
}
.pathner_job .company_info_box div.btn_wrap {
  margin-top:17px;
  float:right;
}
.pathner_job .top_search_box:after {
  content:'';
  display:block;
  clear:both;
}
.pathner_job .search_inp_box {
  float:right;
  margin-top:20px;
}
.pathner_job .top_search_box .search_inp_box select {
  width:220px;
  margin-right:10px;
  border-right:1px solid #e8e8e8;
}
.pathner_job .search_inp {
  position: relative;
  float: left;  
  width:220px;
}
.pathner_job .search_inp .btn_search {
  position: absolute;
  right: 0; top: 0;
  width: 44px; height: 44px;
  background: url(../images/common/ico-search.png) no-repeat center;
}
.pathner_job .data_info_list {
  margin-top:20px;
}
.pathner_job .tbl_wrap {
  margin-top:0;
}
.pathner_job .tbl_wrap p {
  margin-top:3px;
  color:#999;
  font-size:13px;
}



