@charset "utf-8";

/* 파트너 채용정보 */
.pathner_job .company_info_box {
  margin-top:50px;
  padding:32px 50px;
  border:1px solid #e8e8e8;
}
.pathner_job .company_info_box:after {
  content:'';
  display:block;
  clear:both;
}
.pathner_job .company_info_box div {
  float:left;
}
.pathner_job .company_info_box .company_img {
  margin-right:50px;
  width:240px;
  height:80px;
  text-align:center;
}
.pathner_job .company_info_box .company_img img {
  position:relative;
  top:50%;
  transform: translateY(-50%);
  display:inline-block;  
}
.pathner_job .company_info_box .company_img img.img_hynix {
  width:167px;
}
.pathner_job .company_info_box .company_img img.img_drimsys {
  width:153px;
}
.pathner_job .company_info_box div strong {
  font-size:16px;
}
.pathner_job .company_info_box div p {
  color:#666;
  line-height:24px;
}
.pathner_job .company_info_box div p:nth-child(2) {
  margin-top:14px;
}
.pathner_job .company_info_box div.btn_wrap {
  margin-top:17px;
  float:right;
}
.pathner_job .top_search_box:after {
  content:'';
  display:block;
  clear:both;
}
.pathner_job .search_inp_box {
  float:right;
  margin-top:20px;
}
.pathner_job .top_search_box .search_inp_box select {
  width:220px;
  margin-right:10px;
  border-right:1px solid #e8e8e8;
}
.pathner_job .search_inp {
  position: relative;
  float: left;  
  width:220px;
}
.pathner_job .search_inp .btn_search {
  position: absolute;
  right: 0; top: 0;
  width: 44px; height: 44px;
  background: url(../images/common/ico-search.png) no-repeat center;
}
.pathner_job .data_info_list {
  margin-top:20px;
}
.pathner_job .tbl_wrap {
  margin-top:0;
}
.pathner_job .tbl_wrap p {
  margin-top:3px;
  color:#999;
  font-size:13px;
}

/* 파트너 채용공고 등록 */
.career-write {
  margin-top:50px;
}
.career-write .tbl_wrap {
  margin-top:30px;
}
.career-write .tbl_wrap table tbody {
  border-top:1px solid #e8e8e8;
}
.career-write .tbl_wrap th {
  vertical-align: middle;
  box-sizing: border-box;
  background:#f8f8f8;
  border-bottom: 1px solid #e8e8e8;
}
.career-write .tbl_wrap table tbody tr td {
  padding:20px 30px;
  box-sizing: border-box;
  text-align:left;  
}
.career-write .tbl_wrap .career_cell1:after {
  content:'';
  display:block;
  clear:both;
}
.career-write .tbl_wrap .career_cell1 select{
  float:left;
  margin-right:10px;
  width:106px;
}
.career-write .tbl_wrap .career_cell1 input {
  float:left;
  width:calc(100% - 116px);
}
.career-write .tbl_wrap .career_cell2 td {
  padding:20px 30px 16px 30px;
  border-bottom:0;
}
.career-write .tbl_wrap .career_cell3 td {
  padding:0 30px 16px 30px;
  border-bottom:0;
}
.career-write .tbl_wrap .career_cell4 td {
  padding:0 30px 20px 30px;
  border-bottom: 1px solid #e8e8e8;
}

.career-write .tbl_wrap .career_cell2 td label,
.career-write .tbl_wrap .career_cell3 td label,
.career-write .tbl_wrap .career_cell4 td label {  
  display:inline-block;
  width:82px;
  color:#666;
}
.career-write .tbl_wrap .career_cell2 td select,
.career-write .tbl_wrap .career_cell3 td select {
  width:338px;
}
.career-write .tbl_wrap .career_cell4 td input {
  display: inline-block;
  width:calc(100% - 86px);
}
.career-write .tbl_wrap table tbody tr td div.chk_inp_box {
  margin-right:40px;
}
.career-write .tbl_wrap table tbody tr td textarea {
  height:130px;
}
.career-write .career_check {
  margin-top:20px;
} 

/* 채용정보 지원자 보기 */
.apply_list h4 {
 margin-top:70px;
 font-weight:500;
 font-size:18px;
}
.apply_list .company_apply {
  margin-top:10px;
  padding:17px 0 16px 50px;
  border:1px solid #e8e8e8;
}
.apply_list .company_apply:after {
  content:'';
  display:block;
  clear:both;
}
.apply_list .company_apply .company_img {
  display:inline-block;
  width:240px;
  height:80px;
  vertical-align:middle;
  text-align:center;
}
.apply_list .company_apply .company_img img {
  position:relative;
  top:50%;
  display:inline-block;
  transform: translateY(-50%);
  width:142px;
}
.apply_list .company_apply ul {
  float:right;
  margin-top:10px;
}
.apply_list .company_apply ul li {
  position:relative;
  display:inline-block;
  width:168px;
  text-align:center;
  color:#666;
  font-weight:500;
}
.apply_list .company_apply ul li:first-child {
  color:#ff7a00;
}
.apply_list .company_apply li:last-child:after {
  display:none;
}
.apply_list .company_apply li:after {
  content:'';
  position:absolute;
  top:0; right:0;
  width:1px;
  height:60px;
  background-color:#e8e8e8;
}
.apply_list .company_apply li p {
  font-size:28px;
  font-weight:500;
}
.apply_list .btn_apply {
  margin-top:50px;
  text-align:right;
}
.apply_list > div.btn_apply .btn {
  width:185px; height:44px;
  line-height:44px;
  font-size:14px;
  font-weight:500;
}
.apply_list .tbl_wrap {
  margin-top:11px;
}
.apply_list .tbl_wrap table td {
  padding:16px 0;
  text-align:center;
}
.apply_list .tbl_wrap table td .img_apply {
  display:inline-block;
  width:77px; height:100px;
  border:1px solid #e8e8e8;
  vertical-align: middle;

}
.apply_list .tbl_wrap table td .img_none {
  display:inline-block;
  width:77px; height:100px;
  border:1px solid #e8e8e8;
  background: url('../images/contents/partner/img_person.png') no-repeat center;
  background-size:40px;
  color:transparent;
  vertical-align: middle;
}
.apply_list .tbl_wrap table td .name_apply {
  display:inline-block;
  margin-left:16px;
  vertical-align: middle;
  font-size:16px;
}
.apply_list .tbl_wrap table td .name_apply p {
  margin-top:4px;
  font-size:14px;
}
.apply_list .tbl_wrap table td .ico_pass {
  display:block;
  margin-left:50%;
  margin-top:8px;
  transform:translateX(-50%);
}
.apply_list .tbl_wrap table td select {
  width:150px;
}
.apply_list .tbl_wrap table td .btn {
  margin:5px auto 0;
  width:150px; height:44px;
  line-height:44px;
  font-weight:500;
  font-size:14px;
}
.apply_list > .btn_wrap .btn {
  width:193px;
}