@charset "utf-8";

/* 파트너 채용정보 */
.pathner_job .company_info_box {
  margin-top:50px;
  padding:32px 50px;
  border:1px solid #e8e8e8;
}
.pathner_job .company_info_box:after {
  content:'';
  display:block;
  clear:both;
}
.pathner_job .company_info_box div {
  float:left;
}
.pathner_job .company_info_box .company_img {
  margin-right:50px;
  width:240px;
  height:80px;
  text-align:center;
}
.pathner_job .company_info_box .company_img img {
  position:relative;
  top:50%;
  transform: translateY(-50%);
  display:inline-block;  
}
.pathner_job .company_info_box .company_img img.img_hynix {
  width:167px;
}
.pathner_job .company_info_box .company_img img.img_drimsys {
  width:153px;
}
.pathner_job .company_info_box div strong {
  font-size:16px;
}
.pathner_job .company_info_box div p {
  color:#666;
  line-height:24px;
}
.pathner_job .company_info_box div p:nth-child(2) {
  margin-top:14px;
}
.pathner_job .company_info_box div.btn_wrap {
  margin-top:17px;
  float:right;
}
.pathner_job .top_search_box:after {
  content:'';
  display:block;
  clear:both;
}
.pathner_job .search_inp_box {
  float:right;
  margin-top:20px;
}
.pathner_job .top_search_box .search_inp_box select {
  width:220px;
  margin-right:10px;
  border-right:1px solid #e8e8e8;
}
.pathner_job .search_inp {
  position: relative;
  float: left;  
  width:220px;
}
.pathner_job .search_inp .btn_search {
  position: absolute;
  right: 0; top: 0;
  width: 44px; height: 44px;
  background: url(../images/common/ico-search.png) no-repeat center;
}
.pathner_job .data_info_list {
  margin-top:20px;
}
.pathner_job .tbl_wrap {
  margin-top:0;
}
.pathner_job .tbl_wrap p {
  margin-top:3px;
  color:#999;
  font-size:13px;
}

